{% extends 'catalog/base_generic.html' %}

{% block content %}
  <h1> Author: {{author.last_name}}, {{author.first_name}}</h1>
  {% if author.date_of_birth %}
  <p> {{author.date_of_birth}} - {%if author.date_of_death%} {{author.date_of_death}} {% else %} current {% endif %} </p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
  <h4>Books</h4>
  {% if author.book_set.all.exists %}
    {% for book in author.book_set.all %}
    <h6><a href="{% url 'book-detail' pk=book.pk %}"> {{book.title}} </a>({{book.pk}})</h6>
    <p> {{book.summary}} </p>
    {% endfor %}
  {% endif %}

{% endblock %}
